@import url('https://fonts.googleapis.com/css?family=Lato:400,900');


body {
    background: ##fafbfe;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
}

.Header {
    background: linear-gradient(291deg, rgba(17,23,103,0.9), rgba(36,44,155,0.85)), url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/EET3361NET.jpg");
    height: 300px;
}

.Col:first-child {
    padding: 30px;
}

.Content-Item {
    font-weight: 900;
    text-align: center;
}

.Form-Btn {
    background: #f33784;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(20,35,93,0.18);
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    margin: 1em 0;
    padding: 1em;
    text-transform: uppercase;
    width: 100%;
}

.FormInput {
    margin-bottom: 1em;
}

.FormInput-Label {
    margin-right: 1em;
}

.Header-Mini {
    color: #f33784;
    font-size: 1.75em;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

.Header-Title {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 900;
    margin: 7px 0 0 0;
    text-align: center;
}

.Item {
    margin: 2em;
}

.Item-Categories p {
    text-align: center;
}

.Item-Line {
    display: flex;
    flex-direction: row;
}

.Item-Photo {
    display: flex;
    justify-content: center;
    margin: 0 1em;
}

.Item-Photo img {
    border-radius: 10px;
    height: 300px;
    max-width: 100%;
}

.Post-Icon {
    color: #ff5252;
    font-size: 25px !important;
    padding: .9em 0 0 1em;
}

.Posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 53px;
}

.Posts-Item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 9px 23px 0 rgba(35,35,85,0.08);
    margin: 1em;
    max-width: 360px;
}

.PhotoSegment img {
    border-radius: 10px 10px 0 0;
    height: auto;
    width: 360px;
}

.DetailsSegment {
    padding: 7px 24.5px 14px 24.5px;
}

.Post-Title {
    color: #242d9b;
    font-size: 1.75em;
    font-weight: 900;
}

.Post-Date {
    color: #242d9b;
    font-size: 10px;
    letter-spacing: .6px;
    text-transform: uppercase;
}

.Post-Link {
    text-decoration: none;
}

.PostForm {
    display: block;
    margin: 2em auto;
    width: 400px;
}

.Update-Form {
    background: #f0f1fb;
    padding: 1em;
}