@import url('https://fonts.googleapis.com/css?family=Lato:400,900');


body {
    background: ##fafbfe;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
}

.Header {
    background: linear-gradient(291deg, rgba(17,23,103,0.9), rgba(36,44,155,0.85)), url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/EET3361NET.jpg");
    height: 300px;
}

.Col:first-child {
    padding: 30px;
}

.Header-Mini {
    color: #f33784;
    font-size: 1.75em;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

.Header-Title {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 900;
    margin: 7px 0 0 0;
    text-align: center;
}

.Posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 53px;
}

.Posts-Item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 9px 23px 0 rgba(35,35,85,0.08);
    max-width: 360px;
}

.PhotoSegment img {
    border-radius: 10px 10px 0 0;
    height: auto;
    width: 360px;
}

.DetailsSegment {
    padding: 7px 24.5px 14px 24.5px;
}

.Post-Title {
    color: #242d9b;
    font-size: 1.75em;
    font-weight: 900;
}

.Post-Date {
    color: #242d9b;
    font-size: 10px;
    letter-spacing: .6px;
    text-transform: uppercase;
}